<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @container.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @container.color %>
</p>

<p>
  <strong>Type:</strong>
  <%= @container.type %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
