= simple_form_for @property do |f|
  = f.input :uprn, label: 'UPRN'
  = f.input :paon, label: 'PAON'
  = f.input :saon, label: 'SAON'
  = f.input :postcode, label: 'Post Code'
  = f.input :post_town, label: 'Post Town'
  = f.button :submit
