%p#notice= notice

%ul
  %li= "Uprn: #{@property.uprn}"
  %li= "PAON: #{@property.paon}"
  %li= "SAON: #{@property.saon}"
  %li= "Post Town: #{@property.post_town}"
  %li= "Post Code: #{@property.postcode}"

= link_to 'Edit', edit_property_path(@property)
\|
= link_to 'Back', properties_path
