%h1 Listing services

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Frequency
      %th Instructions
      %th Esd url
      %th
      %th
      %th

  %tbody
    - @services.each do |service|
      %tr
        %td= service.name
        %td= service.frequency
        %td= service.instructions
        %td= service.esd_url
        %td= link_to 'Show', service
        %td= link_to 'Edit', edit_service_path(service)
        %td= link_to 'Destroy', service, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Service', new_service_path, class: 'btn btn-primary'
