%h1 Collection rounds

%table.table.table-striped
  %tr
    %th Property
    %th Containers
    %th Schedule
    %th
    %th
    %th

  - @rounds.each do |round|
    %tr
      %td
        - round.properties.each do |p|
          %p= p.uprn
      %td
        - round.containers.each do |c|
          %p= c.container_type
      %td= IceCube::Rule.from_yaml(round.schedule)
      %td= link_to 'Show', round
      %td= link_to 'Edit', edit_round_path(round)
      %td= link_to 'Destroy', round, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Round', new_round_path
