%p#notice= notice

%p
  %b Properties:
  - @round.properties.each do |p|
    %p= p.uprn

%p
  %b Containers:
  - @round.containers.each do |c|
    %p= c.container_type
%p
  %b Schedule:
  = @schedule

= link_to 'Edit', edit_round_path(@round)
\|
= link_to 'Back', rounds_path
